<div class="container my-5 p-3 bg-main-light">
    <ngx-spinner  bdColor = "rgba(250,250,250, 1)" size = "large" color = "#0aad0a" type = "ball-beat" [fullScreen] = "true">
        <img src="assets/images/freshCart.png.svg" class="loading" alt="Fresh Cart">
        </ngx-spinner>
    <h3>My Orders</h3>
    <div  class="row">
        <div *ngFor="let order of myOrders" class="col-md-2">
         <img src="{{order.cartItems[0].product.imageCover}}" class="w-100" alt="{{order.cartItems[0].product.title}}">
         <h6 class="text-main text-center mt-2"><span class=" text-main">{{order.cartItems[0].count}}</span> {{order.cartItems[0].product.title.split(" ").splice(1,2).join(" ")}}</h6>
        </div>
</div>
</div> 
