<footer class=" bg-main-light p-5">
   <div class="container">
    <h3>Get The FreshCart App</h3>
    <p class="text-muted">We will send you a link, open it on your phone to download the app .</p>
    <div class="row align-items-center mb-4">
        <div class="col-md-10">
            <input class="w-100 p-2 border border-1 rounded-2" type="text" placeholder="Email...">
        </div>
       <div class="col-md-2">
        <button class="btn bg-main text-white w-100">Share App Link</button>
       </div>
    </div>
    <hr> 
    <div class="row d-flex justify-content-between align-items-center p-2">
        <div class="col-md-5 d-flex align-items-center">
        <h5>Payment Partners</h5>
        <i class="fa-brands fa-amazon-pay fa-2x mx-2"></i>
        <i class="fa-brands fa-cc-mastercard fa-2x mx-2"></i>
        <i class="fa-brands fa-cc-paypal fa-2x mx-2"></i>
        </div>
        <div class="col-md-5 d-flex align-items-center">
            <h5 class="m-0 me-2 ">Get Deliveries with FreshCart</h5>
            <img src="assets/images/_download.png" class="rounded-2 mx-1" height="30"  alt="">
            <img src="assets/images/_googleplay.ar_ALL.png" class="rounded-2 mx-1" height="30" alt="">
        </div>
    </div>
    <hr>
   </div>

</footer>
