<div class="container d-flex align-items-center justify-content-center p-5 mt-5">
    <div class="w-50 shadow p-5">
        <h4>Login Now :</h4>
        <div *ngIf="apiError" class="alert alert-danger">
        {{apiError}}
        </div>
        <form (ngSubmit)="handleLogin(loginForm)" [formGroup]="loginForm">
         
            <label for="email">Email :</label>
            <input formControlName="email" type="email" class="form-control mb-2" id="email">
            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
                <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">Email is IN-Valid</p>
                <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0">Email is Required</p>
            </div>
            <label for="password">Password :</label>
            <input formControlName="password" type="password" class="form-control mb-2" id="password">
            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
                <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0">password must starts with UpperCase then from 5 to 10 chars or numbers</p>
                <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0">Password is Required</p>
            </div>
            <button [disabled]="loginForm.invalid" type="submit" class="btn d-block ms-auto bg-main text-white">
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading" >Login</span>
            </button>
        </form>
        <p class="text-center">Don't have an account ? <a routerLink="/register" class="text-main fw-bold">SignUP</a></p>
        </div>
</div>
    
